body {
  background-color: #fff;
}
.row-one {
  background-color: #009900;
}
.row-two {
  background-color: #ccff00;
}
.row-three {
  background-color: #c80000;
}
.row-four {
  background-color: #000099;
}
