body {
  background-color: #e3e3e3;
}
.row-one {
  width: 100%;
  height: 25%;
  border: 1px solid #000;
  background-color: #009900
}
.row-two {
  width: 100%;
  height: 25%;
  border: 1px solid #000;
  background-color: #99CC00
}
.row-three {
  width: 100%;
  height: 25%;
  border: 1px solid #000;
  background-color: #C80000
}
.row-four {
  width: 100%;
  height: 25%;
  border: 1px solid #000;
  background-color: #000033
}
/* Your Code Here */
